/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* wrapper styles */
.wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

/* container styles */
.container {
  margin: 0 auto;
  max-width: 120rem;
}

/* sliding background */
.sliding-background {
  background-color: #012350;
  position: fixed;
  height: 100vh;
  width: 100%;
}

.sliding-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.sliding-binaries1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transform: translateY(-4440px);
      -ms-transform: translateY(-4440px);
          transform: translateY(-4440px);
  height: 100%;
  width: calc(8rem + 1rem);
}

.sliding-binaries1:nth-child(1n+1) {
  margin-right: 1rem;
}

.sliding-binaries1:nth-child(2n+1) {
  margin-right: 2rem;
}

.sliding-binaries1:nth-child(3n+1) {
  margin-right: 4rem;
}

.sliding-binaries1:first-child {
  margin-left: 2rem;
}

.sliding-binaries1 .sliding-binary-1 {
  background: url(../img/binary-1.png) repeat-y;
  background-size: 100% auto;
  opacity: 0;
  height: 8880px;
  width: 1rem;
  z-index: 1;
}

.sliding-binaries1 .sliding-binary-2 {
  background: url(../img/binary-2.png) repeat-y;
  background-size: 100% auto;
  opacity: 0;
  height: 8880px;
  width: 1rem;
  z-index: 2;
}

.sliding-binaries1 .sliding-binary-3 {
  -webkit-animation: slideDown 95s 3s linear infinite;
          animation: slideDown 95s 3s linear infinite;
  background: url(../img/binary-3.png) repeat-y;
  background-size: 100% auto;
  opacity: 0;
  height: 8880px;
  width: 1rem;
  z-index: 3;
}

.sliding-binaries1 .sliding-binary-4 {
  -webkit-animation: slideDown 115s 3s linear infinite;
          animation: slideDown 115s 3s linear infinite;
  background: url(../img/binary-4.png) repeat-y;
  background-size: 100% auto;
  opacity: 0;
  height: 8880px;
  width: 1rem;
  z-index: 4;
}

.sliding-binaries1:nth-child(1n+1) .sliding-binary-1 {
  -webkit-animation: slideDown 100s 3s linear infinite;
          animation: slideDown 100s 3s linear infinite;
}

.sliding-binaries1:nth-child(2n+1) .sliding-binary-1 {
  -webkit-animation: slideDown 90s 3s linear infinite;
          animation: slideDown 90s 3s linear infinite;
}

.sliding-binaries1:nth-child(3n+1) .sliding-binary-1 {
  -webkit-filter: blur(.2rem);
          filter: blur(.2rem);
  -webkit-animation: slideDown 80s 3s linear infinite;
          animation: slideDown 80s 3s linear infinite;
}

.sliding-binaries1:nth-child(1n+1) .sliding-binary-2 {
  -webkit-animation: slideDown 100s 3s linear infinite;
          animation: slideDown 100s 3s linear infinite;
}

.sliding-binaries1:nth-child(2n+1) .sliding-binary-2 {
  -webkit-animation: slideDown 90s 3s linear infinite;
          animation: slideDown 90s 3s linear infinite;
}

.sliding-binaries1:nth-child(3n+1) .sliding-binary-2 {
  -webkit-animation: slideDown 110s 3s linear infinite;
          animation: slideDown 110s 3s linear infinite;
}

.sliding-binaries1:nth-child(even) .sliding-binary-3 {
  -webkit-filter: blur(.1rem);
          filter: blur(.1rem);
}

@-webkit-keyframes slideDown {
  0%{
    opacity: 1;
    -webkit-transform: translate3d(0, -4440px, 0);
            transform: translate3d(0, -4440px, 0);
  }
  100%{
    opacity: 1;
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
  }
}

@keyframes slideDown {
  0%{
    opacity: 1;
    -webkit-transform: translate3d(0, -4440px, 0);
            transform: translate3d(0, -4440px, 0);
  }
  100%{
    opacity: 1;
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
  }
}

.sliding-big-binary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.sliding-binaries2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 100%;
  width: calc(20rem + 1rem);
}

.sliding-binaries2:nth-child(1n+1) {
  margin-right: 3rem;
}

.sliding-binaries2:nth-child(2n+1) {
  margin-right: 2rem;
}

.sliding-binaries2:nth-child(3n+1) {
  margin-right: 4rem;
}

.sliding-binaries2:first-child {
  margin-left: 5rem;
}

.sliding-binaries2:last-child {
  margin-right: 5rem;
}

.sliding-binaries2:nth-child(even) .sliding-binary-1,
.sliding-binaries2:nth-child(even) .sliding-binary-2,
.sliding-binaries2:nth-child(even) .sliding-binary-3,
.sliding-binaries2:nth-child(even) .sliding-binary-4 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  width: 3rem;
}

.sliding-binaries2:first-child .sliding-binary-1,
.sliding-binaries2:first-child .sliding-binary-2,
.sliding-binaries2:first-child .sliding-binary-3,
.sliding-binaries2:first-child .sliding-binary-4 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.sliding-binaries2:last-child .sliding-binary-1,
.sliding-binaries2:last-child .sliding-binary-2,
.sliding-binaries2:last-child .sliding-binary-3,
.sliding-binaries2:last-child .sliding-binary-4 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.sliding-binaries2 .sliding-binary-1 {
  -webkit-animation: slideUp 20s linear infinite;
          animation: slideUp 20s linear infinite;
  background: url(../img/binary-1.png) repeat-y;
  background-size: 100% auto;
  opacity: 0;
  height: 4440px;
  width: 4rem;
  z-index: 1;
}

.sliding-binaries2 .sliding-binary-2 {
  -webkit-animation: slideUp 19s linear infinite;
          animation: slideUp 19s linear infinite;
  background: url(../img/binary-2.png) repeat-y;
  background-size: 100% auto;
  opacity: 0;
  height: 4440px;
  width: 4rem;
  z-index: 2;
}

.sliding-binaries2 .sliding-binary-3 {
  -webkit-animation: slideUp 21s linear infinite;
          animation: slideUp 21s linear infinite;
  background: url(../img/binary-3.png) repeat-y;
  background-size: 100% auto;
  opacity: 0;
  height: 4440px;
  width: 4rem;
  z-index: 3;
}

.sliding-binaries2 .sliding-binary-4 {
  -webkit-animation: slideUp 18s linear infinite;
          animation: slideUp 18s linear infinite;
  background: url(../img/binary-4.png) repeat-y;
  background-size: 100% auto;
  opacity: 0;
  height: 4440px;
  width: 4rem;
  z-index: 4;
}

@-webkit-keyframes slideUp {
  0%{
    opacity: 1;
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
  }
  100%{
    -webkit-transform: translate3d(0, -4440px, 0);
            transform: translate3d(0, -4440px, 0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0%{
    opacity: 1;
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
  }
  100%{
    -webkit-transform: translate3d(0, -4440px, 0);
            transform: translate3d(0, -4440px, 0);
    opacity: 1;
  }
}

/* promo styles */
.promo {
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 9;
}

.promo:before {
  content: "";
  background: url(../img/overlay.png) center / 100% 100% no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.promo .container {
  color: #ffffff;
  position: relative;
  text-align: center;
  height: 100%;
  z-index: 99;
}

.promo img {
  margin: 3rem auto 0;
  width: 8rem;
}

.promo h1 {
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: -0.03rem;
  line-height: 7rem;
  margin: 10.4rem 0 2.6rem;
}

.promo p {
  font-size: 3rem;
  letter-spacing: 0.01rem;
  line-height: 4rem;
  margin-bottom: 4.8rem;
}

.promo a {
  color: #ffffff;
  background-color: #c11c17;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4rem;
  text-decoration: none;
  padding: 3rem 6rem;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 8px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 7px;
  }

  .sliding-binaries2:first-child {
    margin-left: 0rem;
  }

  .sliding-binaries2:last-child {
    margin-right: 0rem;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 6px;
  }

  .sliding-binaries2:first-child {
    margin-left: 0rem;
  }

  .sliding-binaries2:last-child {
    margin-right: 0rem;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 5px;
  }

  .sliding-binaries2:first-child {
    margin-left: 0rem;
  }

  .sliding-binaries2:last-child {
    margin-right: 0rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 4px;
  }
}